.home{
 @extend %cover;
 @extend %center;

  @extend %page;
  
  // display: flex;
  // display: none;
  overflow: hidden;
  text-align: center;
  background: $color-contessa;
  color: $color-quarter-spanish-white;

  &::before,
  &::after{
   content: '';
   height: 24rem;
   left: 0;
   position: absolute;
   // top: 0;
   width: 100%;
   z-index: 1;
  }

  &::before{
   background: linear-gradient(to bottom, $color-quick-sand 0%, rgba($color-contessa, 0) 100%);
   top: 0;
  }

  &::after {
   background: linear-gradient(to top, $color-quick-sand 0%, rgba($color-contessa, 0) 100%);
   bottom: 0;
  }
}

.home__wrapper {}

.home__titles {
 @extend %vertical-titles;
}

.home__titles__label {
 @extend %vertical-titles__label;
}

.home__titles__title {
 @extend %vertical-titles__title;
}

.home__gallery{
 @extend %cover;
 visibility: hidden;
  width: 241.8rem + 9rem;
  height: 172.5rem;
}
.home__gallery__media{
 position: absolute;

 &:nth-child(1) {

 }

 &:nth-child(2) {}

 &:nth-child(3) {}

 &:nth-child(4) {}

 &:nth-child(5) {}

 &:nth-child(6) {}

 &:nth-child(7) {}

 &:nth-child(8) {}

 &:nth-child(9) {}

 &:nth-child(10) {}

 &:nth-child(11) {}

 &:nth-child(12) {}

 &:nth-child(13) {}

 &:nth-child(14) {}

 &:nth-child(15) {}

 &:nth-child(1) {}
}
.home__gallery__media__image{
  opacity: 1;
 
 
}
.home__link{
 @extend %description-14;
 align-items: center;
 bottom: 5rem;
 display: flex;
 height: 6rem;
 justify-content: center;
 left: 50%;
 letter-spacing: 0.1rem;
 position: absolute;
 text-transform: uppercase;
 
 transform: translateX(-50%);
 width: 28.8rem;
 z-index: 2;

 @include media('<phone'){
  bottom: 7.5rem;
  height: 13.7rem;
  width: 55rem;
 }
}

.home__link__icon{
 @extend %cover;
}